<head>
    <style>
    .center {
    margin: auto;
    width: 60%;
    border: 3px solid #f50303;
    padding: 10px;
    }
    h1 {text-align: center;}
    h1 {font-size: 40px;}
    p {text-align: center;}
    p{font-size: 20px;}
    h4 {text-align: center;}
    </style>
</head>

<div class="center">
<h1>Player A got:<br></h1>
<h4>{% for x in a %}
 {{x}} ,
{%endfor%}<br></h4>

<h1>Player B got:<br></h1>
<h4>{% for x in b %}
 {{x}} ,
{%endfor%}<br></h4>

<h1>No one got:<br></h1>
<h4>{% for x in cp %}
 {{x}} ,
{%endfor%}<br></h4>
</div>