<head>
    <style>
    .center {
    margin: auto;
    width: 60%;
    border: 3px solid #f50303;
    padding: 10px;
    }
    h1 {text-align: center;}
    h1 {font-size: 40px;}
    </style>
</head>

<form action="/answer" method="POST" role="form">
    {{ form.hidden_tag() }}
    <div class="center">
        <h1>Please enter the lists using [item1, items2,...]<br></h1>
        <h1>{{ form.playerA.label }}<br><br> {{ form.playerA() }} <br> </h1>
        <h1>{{ form.playerB.label }}<br><br> {{ form.playerB() }} <br> </h1>
        <h1>{{ form.s() }}</h1>
    </div>
</form>